*{
    background-color: black;
    background-image:url(https://images.app.goo.gl/yWbcdrJVTfbysQd6A)
}
p {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

h1 {
  color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}