
body{
    color: rgb(32 21 9);
    background: rgb(68, 44, 17);
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(68, 44, 17);
    padding: 20px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

.chamada{
    background-color: #695034;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover{
opacity: 1.0;
border: #c29968;
}

.categoria h2{
    color: #b49671;
}

